{{/*
  Image rights as structured data: every photo registered on the page through
  partials/seo/add-image.html becomes an ImageObject with creator, credit,
  copyright notice and a link to the image rights on the legal page. Google
  shows creator and credit next to the photo in image search.

  Called from the body_end hook, once all photos of the page have rendered.
  The same rendition registered twice is listed once.
*/}}
{{- with .Store.Get "imageObjects" -}}
  {{- $author := site.Params.authorName -}}
  {{- $rights := absURL "legal/#bildrechte" -}}
  {{- $seen := slice -}}
  {{- $graph := slice -}}
  {{- range . -}}
    {{- if not (in $seen .url) -}}
      {{- $seen = $seen | append .url -}}
      {{- $obj := dict
          "@type" "ImageObject"
          "contentUrl" .url
          "creator" (dict "@type" "Person" "name" $author)
          "creditText" $author
          "copyrightNotice" (printf "© %s" $author)
          "license" $rights
          "acquireLicensePage" $rights
      -}}
      {{- with .alt }}{{ $obj = merge $obj (dict "description" .) }}{{ end -}}
      {{- $graph = $graph | append $obj -}}
    {{- end -}}
  {{- end -}}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
{{- end -}}
